# =====================================
# GitHub Actions Cache
# =====================================

.github/*.log

# =====================================
# Mac/Linux Hidden Files
# =====================================

*.swp
*.swo

# =====================================
# IDE
# =====================================

.idea/

# =====================================
# Python Environment Files
# =====================================

.python-version

# =====================================
# PyCharm
# =====================================

*.iml

# =====================================
# Coverage Reports
# =====================================

coverage.xml

# =====================================
# Mypy
# =====================================

.mypy_cache/

# =====================================
# Ruff
# =====================================

.ruff_cache/
uploads/
chroma_db/